.section7
{
    margin-top: 2rem;
    .heading
    {
        h1
        {
          text-align: center;
          font-size: 50px;  
        }
        p 
        {
            width: 75%;
            text-align: center;
            color: #9FA2AE;
            margin-top: 1rem;
            margin-bottom: 5rem;
        }
    }
    .long_card
    {
        .card 
        {

            background-color: #F5F5F5;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
            margin-bottom: 1rem;

            .heading 
            {
                background-color: #DD4344;
                padding: 2rem 0 2rem 0;
                h3
                {
                 color: white;
                font-weight: bold;
                font-size: 30px;
                }
                h4 
                {
                    font-size: 20px;
                    color: #F37E7E;
                }
                &-orange
                {
                   background-color: #F69201; 
                   h4 
                   {
                       color: #FEB851;
                   }
                }
                &-yellow
                {
                   background-color: #F8C407; 
                   h4 
                   {
                       color: #FEDF6F;
                   }
                }
               
            }
            .heading_price 
            {
                background-color: #EC4D4D;
                padding: 2rem 0 2rem 0;
                h3
                {
                 color: white;
                font-weight:300;
                font-size: 60px;
                }
                &-orange_price
                {
                    background-color: #FF9700;
                }
                &-yellow_price
                {
                    background-color:#FECC17;
                }
            }
        }
        .card:hover
        {
            transform: scaleY(1.1);
        }
        .list-group-flush .list-group-item 
        {
            background-color: #FAFAFA;
            text-align: center;
            color: #9699a6;
            border-bottom: 0.5px solid #FFFFFF;
             font-size: 14px;
            font-weight: normal;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        .card-body
        {
            margin-left: 3rem;
            margin-top: 1rem;
            .btn
            {
                background-color: #F04E4E;
                padding: 0.6rem;
                padding-left: 2rem;
                padding-right: 2rem;
                font-size: 18px;
                font-weight: normal;
                text-transform: capitalize;

                &-orange 
                {
                    background-color: #FF9700;
                }
                &-yellow 
                {
                    background-color: #FECC17;
                }
            }
        }

    }
}